@import './normalize';

html {
    font-size: 62.5%;
}

body {
    line-height: 1.7;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS P Gothic',Verdana,sans-serif;
    font-size: 1.4rem;
    -webkit-font-feature-settings: 'pkna';
            font-feature-settings: 'pkna';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 700px;
    margin: auto;
}
.ttl {
    text-align: center;
}
